<% layout("layout/page") %>
<% block('title', 'login' ) %>
<br><br>
<form id="login-form" action="">
    <text>Логин</text><br>
    <input id="userName" type="text"><br><br>
    <text>Пароль</text><br>
    <input id="userPassword" type="password"><br>
    <br>
    <input id="sendButton" value="Отправить" type="submit"/>
</form>
<script>
        $('#login-form').submit(function( event ){
            var data = {
                userName: $('#userName').val(),
                userPassword: $('#userPassword').val()
            }

            $.ajax({
                url: "/login",
                method: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                statusCode: {
                    200: function(data){
                        alert("Успешная авторизация");
                        window.location.href = '/chat';
                        console.log("Перешли обратно на страницу");
                    },
                    403: function(data, textStatus, jqXHR){
                        alert("Ошибка авторизации");
                    }
                }
            });
            return false;
        });
</script>
