<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<input onclick="sendXmlHttp()" value="Отправить" type="button"/>
<script>
    function sendXmlHttp(){
        var xhr = new XMLHttpRequest();

        var name = "name=Alex";
        xhr.port = 3000;
        xhr.open('GET', 'xmlHttp?' + name);
        xhr.send();
        xhr.onreadystatechange = function(){
            if(xhr.readyState != 4) return;
            alert(xhr.responseText);
        }
    }
</script>
<p>Lorem ipsum</p>
</body>
</html>

<script>


</script>