<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= blocks.title  %></title>

    <link rel="stylesheet"  href="stylesheets/style.css"/>
    <link rel="stylesheet"  href="vendor/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css"/>

    <script src="vendor/jquery-3.1.1.min.js"></script>
    <script src="vendor/bootstrap-4.0.0-alpha.5-dist/js/tether.min.js"></script>
    <script src="vendor/bootstrap-4.0.0-alpha.5-dist/js/bootstrap.min.js"></script>

    <h1><%- blocks.title %></h1>
</head>
<body>
        <%- body %> <!--На это место вставится наша страница-->
</body>
</html>